html, body {
    box-sizing: border-box;
    font-family: "Jacquard 12", system-ui;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

#wrapper {
    min-height: 100%;
}

header {
    margin-top: 24px;
    text-align: center;
    font-size: 64px;
    text-shadow:silver 3px 5px;
}

.main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.UI-container {
    max-width: 600px;
    padding: 48px 24px;
    margin: 46.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    text-shadow:darkgrey 3px 5px;
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px);
  position: relative;
}
.pixel-corners {
  border: 8px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(8px 12px,
    12px 12px,
    12px 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px,
    0px 50%,
    8px 50%,
    8px 12px,
    12px 12px,
    12px 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -8px;
}

.action-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 32px;;
}

.button-container {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-around;
}

.player-choice {
    display: none;
}

.computer-choice {
    display: none;
}

.weapon-button {
    font-size: 64px;
    background: white;
    color: transparent;  
    text-shadow: 0 0 black;
}

.weapon-button:hover {
    color: white;
}

.text {
    font-size: 48px;
    padding: 16px;
    margin: 0;
}

.action-display {  
    color: black;
}

.next-button {
    display: none;
}

.separator {
    margin: 16px;
    width: 400px;
    border: 2px solid black;
}

.bottom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.score-wrapper {
    display: flex;
    flex: auto;
}

.score-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer {
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer-text {
    margin: 9px;
    padding: 0 48px;
}